{% import "bootstrap/wtf.html" as wtf %}

{% extends "layout.html" %}
{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Corriger un article</h1>
      </div>
       {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
   <div class="col-md-12">
       <form action="{{url_for('heraldic.review_document')}}" class="form" method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens='only') }}

            {%- for field in form %}
            {% if not bootstrap_is_hidden_field(field) -%}

              {{ wtf.form_field(field,
                            form_type='basic',
                            horizontal_columns=('lg', 2, 10),
                            button_map={}) }}
            {%- endif %}
            {%- endfor %}
       </form>
   </div>
{%- endblock %}
